/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$dark-blue: #1a3d50;
$tan: #e5f3bc;
$san-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";

body {
  background: #e5f3bc; font-family: 'Sabon'; font-size: 62.5%; position: relative;
}

#page-wrapper {
  font-size: 1.8em;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  .not-front & {
    margin: auto; padding: 0 2em; width: 1024px;
  }
  h1 { font-family: $san-serif; font-size: 2em; margin: 0 0 1em 0; }
}

#header {
  height: 108px; text-align: auto;
  .section { margin: 0 auto; width: 1024px; }
  #logo img { padding-top: 24px; }
  #site-name { left: -50000px; position: absolute; }
}

#navigation {
  float: right; margin: -1.5em 8em 0 0; z-index: 100;
  h2 { display: none; }
  a { color: $dark-blue; text-decoration: none; }
  li + li a:before { content: '|'; margin: 0 1em 0 0; }
  #menu-icon { cursor: pointer; display: none; }
}

.node {
  p, li { line-height: 1.6em; margin: 1em 0; }
  h3 { font-size: 1.4em; font-weight: bold; }
  iframe { margin-bottom: 2em; }
  a { border-bottom: 2px dotted rgba(255,255,255,.2); color: #fff; text-decoration: none; }
  .field-name-field-photo { float: left; margin: 0 1em 0 0; }
  .not-front & {
    margin: 1em 0;
    ul { list-style: square; margin-left: 2em; }
  }
}

.grow-well {
  background: url('../images/bg-plant.jpg'); background-size: cover; color: #fff; height: 550px;
  h2 a { border: 0; color: #d3eb8f; display: block; font-family: "HelveticaNeue-Ultralight", "Helvetica Neue Ultralight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 6em; font-weight: light; margin: 0 auto; padding: 75px 374px 0 0; text-decoration: none; width: 650px; }
  .content { margin: 0 auto; padding: 0 524px 0 0; text-decoration: none; width: 500px; }
}

.about-us {
  background: $dark-blue; color: #fff; min-height: 352px; position: relative;
  h2 { display: none; }
  .content { margin: 0 auto; padding: 0 300px 0 0; width: 724px; }
  .field-name-body .field-item div { padding-top: 50px; }
  img { position: absolute; right: 0; top: 0; }
  p { color: $tan; font-family: $san-serif; font-size: 1.4em; line-height: 1.3em; margin-top: 0; }
  li { list-style-type: disc; margin: .25em 0 0 1em; }
}

.location {
  background: url('../images/office-exterior.jpg'); background-size: cover; min-height: 555px;
  h2 { display: none; }
  .content { margin: 0 auto; padding: 438px 50px 0 0; width: 974px; }
  p { color: #fff; font-family: $san-serif; font-size: 1.4em; line-height: 1.3em; }
}

.people {
  h2 { display: none; }
  .view-content { margin: 0 auto 75px auto; overflow: hidden; width: 1024px; }
  .view-header {
    color: #212322; line-height: 1.5em; margin: 60px auto 45px auto; width: 1024px;
    strong { color: $dark-blue; font-family: $san-serif; font-size: 1.4em; }
  }
  .views-row { float: left; margin: 0 7% 0 0; width: 195px; }
  .views-row-last { margin: 0; }
  .views-field-title {
    margin: 1em 0;
    a { color: #000; font-family: $san-serif; font-weight: bold; margin: 1em 0; text-decoration: none; }
  }
  .views-field-view-node {
    a {
      color: $dark-blue;
      &:after { content: '»'; }
    }
  }
}

.contact {
  background: $dark-blue; color: $tan; font-family: $san-serif; font-weight: bold;
  h2 { display: none; }
  .content { background: url('../images/leaf-small.png') no-repeat 0 65px; margin: 0 auto; padding: 70px 200px 165px 0; width: 824px; }
  p { margin: 0 0 0 40px; }
}

#footer {
  background: #c5bfb7;
  .content { margin: 0 auto; overflow: hidden; width: 1024px; }
  p { color: #002d56; font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande"; font-size: .8em; margin: 1em 0; }
  p + p { font-size: .6em; }
  a { border-bottom: 2px dotted rgba(32,32,110,.2); color: $dark-blue; text-decoration: none; }
  .not-front & { padding: 0 2em; }
}

.not-front {
  #content {
    background: $dark-blue; color: #fff; padding: 3em 2em;
    h1.title { color: $tan; font-family: 'Sabon'; font-size: 1.6em; text-transform: uppercase; }
    h2 { font-size: 2em; margin: 0 0 1em 0; }
  }
  #breadcrumb { display: none; }
}

.node-type-webform {
  #page-wrapper { padding: 0; width: 90%; }
  // Style all checkboxes the same
  .webform-component-checkboxes {
    border-bottom: 1px dotted $dark-blue; float: left;
    label { float: left; margin: 1em 0 0 1em; }
    .form-checkboxes {
      float: left; margin: .6em 0 0 1em;
      label { float: none; margin: 0; }
    }
  }

  #content {
    background: $dark-blue; color: #fff; padding: 3em 2em;
    h1.title { color: $tan; float: left; font-family: 'Sabon'; font-size: 1.6em; text-transform: uppercase; }
    .form-text { width: 80%; }
    .field-name-body { float: left; font-style: italic; margin: -1em 0 0 1.5em; }
    form { clear: both; max-width: 50em; }
    #webform-component-date { clear: both; }
    .webform-component-fieldset {
      background: lighten($dark-blue, 5%); padding: 1em; width: 80%;
      legend { padding: 2em 0 0 1em; }
      .fieldset-wrapper { margin: 0 0 0 1em; }
      .webform-component-phone { clear: both; float: left; }
      .form-text { width: auto; }
    }
    #webform-component-conditions-yes-no {
      .webform-component {
        clear: both; float: none;
        label { width: 300px; }
      }
    }
    #webform-component-referred-by { clear: left; float: left; }
    #webform-component-relationship-details {
      .form-item + .form-item { margin: 1.5em 0; }
      .form-radio { margin: .5em; }
      label { line-height: 1.4em; }
    }
    .form-actions { clear: both; }
    tr.even{ background-color: lighten($dark-blue, 27%); }
    tr.odd { background-color: lighten($dark-blue, 20%); }
    td { padding: .4em }
  }
}

.webform-confirmation + .links { display: none; }

@media (max-width: 1400px) {
  .grow-well {
    .content { padding: 0 574px 0 0; width: 500px; }
    h2 a { padding: 75px 574px 0 0; width: 500px; }
  }

  .about-us {
    .content { padding: 0 450px 0 0; width: 624px; }
  }
}

@media (max-width: 1200px) {
  .grow-well {
    .content { padding: 0 374px 0 0; width: 500px; }
    h2 a { padding: 75px 374px 0 0; width: 500px; }
  }

  .about-us {
    .content { padding: 0 400px 0 0; width: 474px; }
    .field-name-body .field-item div { padding-top: 20px; }
    p { font-size: 1.1em; line-height: 1.2em; }
    li { margin: .25em 0 0 1em; }
  }
}

@media (max-width: 1000px) {
  #header {
    overflow: hidden; width: 100%;
    .section { padding: 0 40px; width: 100%; }
  }
  #navigation #menu-icon { display: block; position: relative; left: 2em; top: -50px; }
  #main-menu { top: -50000px; position: absolute; }

  .grow-well {
    background-position: 40% top; background-size: initial;
    .content { padding: 0 274px 0 0; width: 500px; }
    h2 a { font-size: 6em; padding: 75px 274px 0 0; width: 500px; }
  }

  .about-us {
    background: url('../images/office-interior.jpg') top; padding: 0 0 400px 0;
    .content { padding: 0; width: 100%; }
    .even { background: $tan; bottom: 0; padding: 0 0 2em 0; position: absolute; }
    img { display: none; }
    p { color: #000; font-size: 1.1em; line-height: 1.2em; margin: 0 40px; }
    li { color: #000; font-size: .88em; margin: .25em 40px 0 60px; }
  }

  .location {
    width: 100%;
    .content { margin: 0; padding: 438px 0 0 0; width: 100%; }
    p { margin: 40px; }
  }

  .people {
    .view-content { margin: 0 auto; width: 490px; }
    .view-header { width: 80%; }
    .views-row { float: left; margin: 0 25px 40px 25px; width: 195px; }
  }

  .contact .content { padding: 70px 0 165px 0; width: 80%; }

  #footer {
    overflow: hidden; width: 100%;
    .content { padding: 0 20px; }
  }

  .not-front {
    #page-wrapper { padding: 0; width: 100%; }
  }
}

@media (max-width: 720px) {
  #header {
    overflow: hidden; width: 100%;
    .section { padding: 0 40px; width: 100%; }
  }

  .grow-well {
    background-position: -500px 0; height: auto;
    h2 a { padding: 25px 120px 0 0; width: 60%; }
    .content { padding: 0 120px 0 0; width: 60%; }
  }
}

@media (max-width: 640px) {
  #header { height: 150px; }
  #navigation #menu-icon { left: 7em; top: -40px; }
}